<!-- <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item"><a routerLink="home" class="nav-link">Home</a></li>
    <li class="nav-item"><a routerLink="/login" class="nav-link">Login</a></li>
    <li class="nav-item"><a routerLink="/registration" class="nav-link">Registration</a></li>
    <li class="nav-item"><a routerLink="/demo" class="nav-link">Demo</a></li>

    <li class="nav-item"><a routerLink="/employees" class="nav-link">Display AllEmployees</a></li>

  </ul>
</nav> -->

<!DOCTYPE html>


<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- <link rel="stylesheet" href="style.css"> -->
</head>

<div class="container_b">
  <div class="fluid">
    <nav>
      <div class="nav-link" id="logo">E-Wallet</div>
      <div class="nav-links">
        <a routerLink="/" class="nav-link">Home</a>
        <a routerLink="/login" class="nav-link">Login</a>
        <a routerLink="/faq" class="nav-link">FAQ</a>
        <a routerLink="/contactus" class="nav-link">Contact</a>
      </div>

      <div class="signup">
        <a routerLink="/signup" class="nav-link"><button class="button_s">Sign Up</button></a>
      </div>

    </nav>


    <main>

      <div class="joinus">
        "Join a bank with over
        <br><br>
        <div style="color:rgb(2, 194, 194); font-style: normal;">
          a million<br><br>
        </div>customers worldwide
        <br><br>
        and make money transfer
        <br><br>
        <div style="color: rgb(2, 194, 194); font-style: normal;">
          hassle free"
        </div>
      </div>

    </main>
  </div>

</div>
<router-outlet></router-outlet>